div {
  text-align: center;
}

.wrapper {
  max-width: 100%;
}

@media (max-width: 992px) {
  .text {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .text {
    font-size: 14px;
  }
}

@media (max-width: 476px) {
  .text {
    font-size: 12px;
  }
  .content-box {
    padding: 0 10px;
  }
}
