.git*
.vs*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

**/.yarn/cache
**/.yarn/install-state.gz

*build/**
!build/install/common/build-services.sh
!build/install/docker/config*
!build/install/docker/hooks*
!build/install/docker/Dockerfile*
!build/install/docker/*.yml
!build/install/docker/*.sh
!build/install/docker/*.py
!build/scripts/*.js

*-lock.json
**/node_modules/
**/storybook-static/
**/dist
*.log

/Data
Logs/
**/.DS_Store
.eslintcache
/public/debuginfo.md
TestsResults/
/Data.Test

**/obj/
**/bin/
