[submodule "client"]
	path = client
	url = https://github.com/ONLYOFFICE/DocSpace-client.git
	branch = .
	update = merge
[submodule "build"]
	path = buildtools
	url = ../DocSpace-buildtools.git
	branch = .
	update = merge
[submodule "server"]
	path = server
	url = https://github.com/ONLYOFFICE/DocSpace-server.git
	branch = .
	update = merge
