[submodule "client"]
	path = client
	url = ../DocSpace-client.git
	branch = .
	update = merge
[submodule "build"]
	path = buildtools
	url = ../DocSpace-buildtools.git
	branch = .
	update = merge
[submodule "server"]
	path = server
	url = ../DocSpace-server.git
	branch = .
	update = merge
[submodule "tests/e2e-tests"]
	path = tests/e2e-tests
	url = ../DocSpace-e2e-tests.git
        branch = main
	update = merge
[submodule "tests/stress-tests"]
	path = tests/stress-tests
	url = ../DocSpace-stress-tests.git
        branch = develop
	update = merge
[submodule "tests/api-tests"]
	path = tests/api-tests
	url = ../DocSpace-api-tests.git
	branch = main
	update = merge
