[submodule "client"]
	path = client
	url = git@github.com:ONLYOFFICE/DocSpace-client.git
	branch = release/separation
[submodule "build"]
	path = buildtools
	url = git@github.com:ONLYOFFICE/DocSpace-buildtools.git
    branch = release/separation
[submodule "server"]
	path = server
	url = git@github.com:ONLYOFFICE/DocSpace-server.git
    branch = release/separation
