**/obj/
**/bin/
*.suo
*.user
.vs/
*-lock.json
**/node_modules/
**/storybook-static/
**/dist
/build/deploy
*.log
/products/ASC.People/Data/
Data/
Logs/
**/.DS_Store
.eslintcache
build/deploy/
/public/debuginfo.md
TestsResults/
