<?xml version="1.0" encoding="UTF-8"?>
<nlog>
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
		<add assembly="ASC.Common" />
	</extensions>
	<variable name ="name" value ="mail.dog" />
	<variable name ="dir" value ="../../../../../../../Logs/" />
	<conversionPattern value="" />
	<targets  async="true">
		<default-target-parameters type="SelfCleaning" encoding="utf-8" archiveNumbering="DateAndSequence" archiveEvery="Day" archiveAboveSize="52428800" keepFileOpen="true" archiveDateFormat="MM-dd" enableArchiveFileCompression="true" layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:uppercase=true:padding=5} [${threadid:padding=3}] ${logger} - ${message} ${exception:format=ToString}"/>
		<target name="console" type="ColoredConsole" useDefaultRowHighlightingRules="true" layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:uppercase=true:padding=5} [${threadid:padding=3}] ${logger} - ${message}" />
		<target name="file" type="SelfCleaning" fileName="${var:dir}${var:name}.log" />
		<target name="error" type="SelfCleaning" fileName="${var:dir}${var:name}.errors.log" />
		<target name="sql" type="SelfCleaning" fileName="${var:dir}${var:name}.sql.log" layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss,fff}|${threadid}|${event-properties:item=elapsed}|${message}|${replace:inner=${event-properties:item=commandText}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}|${event-properties:item=parameters}"/>
	</targets>

	<rules>
		<logger name="ASC.SQL" minlevel="Debug" writeTo="sql" final ="true" />
		<logger name="ASC.Mail*" minlevel="Debug" writeTo="file,console" />
		<logger name="ASC*" minlevel="Warn" writeTo="error" />
	</rules>
</nlog>