// Override default variables before the import
//$font-family-base: "Open Sans", sans-serif;

html,
body {
  height: 100%;
}

#root {
  min-height: 100%;

  .pageLoader {
    position: fixed;
    left: calc(50% - 20px);
    top: 35%;
  }
}
body {
  margin: 0;
  overflow: hidden;
}

body.loading * {
  cursor: wait !important;
}

#ipl-progress-indicator {
  position: fixed;
  z-index: 9999999;
  top: 56px;
  left: -6px;
  width: 0%;
  height: 3px;
  background-color: #eb835f;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
