x-service: &x-service-base
  env_file: "./.env"
  environment:
    MYSQL_PORT: ${MYSQL_PORT}
    MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    MYSQL_DATABASE: ${MYSQL_DATABASE}
    MYSQL_USER: ${MYSQL_USER}
    MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    DATABASE_MIGRATION: ${DATABASE_MIGRATION}
    APP_DOTNET_ENV: ${APP_DOTNET_ENV}
    APP_KNOWN_NETWORKS: ${APP_KNOWN_NETWORKS}
    APP_KNOWN_PROXIES: ${APP_KNOWN_PROXIES}
    APP_CORE_BASE_DOMAIN: ${APP_CORE_BASE_DOMAIN}
    APP_CORE_MACHINEKEY: ${APP_CORE_MACHINEKEY}
    APP_URL_PORTAL: ${APP_URL_PORTAL}
    INSTALLATION_TYPE: ${INSTALLATION_TYPE}
    OAUTH_REDIRECT_URL: ${OAUTH_REDIRECT_URL}
    DOCUMENT_SERVER_JWT_SECRET: ${DOCUMENT_SERVER_JWT_SECRET}
    DOCUMENT_SERVER_JWT_HEADER: ${DOCUMENT_SERVER_JWT_HEADER}
    DOCUMENT_SERVER_URL_PUBLIC: ${DOCUMENT_SERVER_URL_PUBLIC}
    DOCUMENT_CONTAINER_NAME: ${DOCUMENT_CONTAINER_NAME}
    DOCUMENT_SERVER_URL_EXTERNAL: ${DOCUMENT_SERVER_URL_EXTERNAL}
    ELK_SHEME: ${ELK_SHEME}
    ELK_HOST: ${ELK_HOST}
    ELK_PORT: ${ELK_PORT}
    REDIS_PORT: ${REDIS_PORT}
    REDIS_USER_NAME: ${REDIS_USER_NAME}
    REDIS_PASSWORD: ${REDIS_PASSWORD}
    REDIS_DB: ${REDIS_DB}
    RABBIT_PROTOCOL: ${RABBIT_PROTOCOL}
    RABBIT_PORT: ${RABBIT_PORT}
    RABBIT_VIRTUAL_HOST: ${RABBIT_VIRTUAL_HOST}
    RABBIT_USER_NAME: ${RABBIT_USER_NAME}
    RABBIT_PASSWORD: ${RABBIT_PASSWORD}
    LOG_LEVEL: ${LOG_LEVEL}
    DEBUG_INFO: ${DEBUG_INFO}
    CERTIFICATE_PATH: ${CERTIFICATE_PATH}
    NODE_OPTIONS: ${NODE_OPTIONS}
    WRONG_PORTAL_NAME_URL: ${WRONG_PORTAL_NAME_URL}
    DASHBOARDS_USERNAME: ${DASHBOARDS_USERNAME}
    DASHBOARDS_PASSWORD: ${DASHBOARDS_PASSWORD}
    JDBC_DATABASE: ${MYSQL_DATABASE}
    JDBC_URL: ${MYSQL_HOST}
    JDBC_PASSWORD: ${MYSQL_PASSWORD}
    JDBC_USER_NAME: ${MYSQL_USER}

services:
  onlyoffice-docspace-preview:
    <<: [*x-service-base]
    restart: always
    volumes:
      - ${VOLUMES_DIR:+${VOLUMES_DIR}/}app_data:/app/onlyoffice/data
      - ${VOLUMES_DIR:+${VOLUMES_DIR}/}log_data:/var/log/onlyoffice
      -  certbot:/var/www/certbot
    ports:
      - "80:80"
    cap_add:
      - SYS_NICE
    tty: true
    extra_hosts:
      - "localhost:host-gateway"
    user: root
    build:
      context: ..
      dockerfile: ./docker/Dockerfile.preview
      target: final_preview
    container_name: ${DOCSPACE_PREVIEW_NAME}
    image: "${REGISTRY}${REPO}/${DOCKER_IMAGE_PREFIX}-preview:${DOCKER_TAG}"

  onlyoffice-redis:
    image: ${REGISTRY}${REDIS_IMAGE_NAME}
    container_name: ${REDIS_CONTAINER_NAME}
    restart: always
    expose:
      - "6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      retries: 3
      start_period: 10s
      timeout: 10s

  onlyoffice-mysql-server:
    image: ${REGISTRY}${MYSQL_IMAGE}
    cap_add:
      - SYS_NICE
    container_name: ${MYSQL_CONTAINER_NAME}
    restart: always
    tty: true
    user: mysql
    expose:
      - "3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    command:
      - "--sql-mode=NO_ENGINE_SUBSTITUTION"
      - "--max_connections=1000"
      - "--max_allowed_packet=1048576000"
      - "--group_concat_max_len=2048"    
    healthcheck:
      test: ["CMD", "mysql", "-u", "${MYSQL_USER}", "--password=${MYSQL_PASSWORD}", "-e", ";"]
      interval: 10s
      timeout: 5s
      start_period: 10s
      retries: 3
    volumes:
      - ${VOLUMES_DIR:+${VOLUMES_DIR}/}mysql_data:/var/lib/mysql

  onlyoffice-document-server:
    image: "${REGISTRY}${DOCUMENT_SERVER_IMAGE_NAME}"
    container_name: ${DOCUMENT_CONTAINER_NAME}
    # Strings below enable the JSON Web Token validation.
    environment:
      - JWT_ENABLED=true
      - JWT_SECRET=${DOCUMENT_SERVER_JWT_SECRET}
      - JWT_HEADER=${DOCUMENT_SERVER_JWT_HEADER}
      - JWT_IN_BODY=true
        #- AMQP_URI=${RABBIT_PROTOCOL}://${RABBIT_USER_NAME}:${RABBIT_PASSWORD}@${RABBIT_CONTAINER_NAME}:${RABBIT_PORT}${RABBIT_VIRTUAL_HOST}
        #- REDIS_SERVER_HOST=${REDIS_HOST:-${REDIS_CONTAINER_NAME}}
        #- REDIS_SERVER_PORT=${REDIS_PORT:-6379}
        #- REDIS_SERVER_USER=${REDIS_USER_NAME}
        #- REDIS_SERVER_PASS=${REDIS_PASSWORD}
        #- REDIS_SERVER_DB=${REDIS_DB}
    volumes:
      #- ${CERTIFICATE_PATH}:/var/www/onlyoffice/Data/certs/extra-ca-certs.pem
      - ${VOLUMES_DIR:+${VOLUMES_DIR}/}app_data:/var/www/onlyoffice/Data
      - ${VOLUMES_DIR:+${VOLUMES_DIR}/}log_data:/var/log/onlyoffice
      - ${VOLUMES_DIR:+${VOLUMES_DIR}/}ds_fonts:/usr/share/fonts
    expose:
      - '80'
    extra_hosts:
      - "${EXTRA_HOSTS:-placeholder.local:127.0.0.1}"
    stdin_open: true
    restart: always
    stop_grace_period: 60s
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/info/info.json"]
      interval: 30s
      retries: 5
      start_period: 60s
      timeout: 10s      

volumes:
  log_data:
  app_data:
  ds_fonts:
  certbot:
  mysql_data:
