// Override default variables before the import
//$font-family-base: "Open Sans", sans-serif;

html,
body {
  height: 100%;
}

#root {
  min-height: 100%;

  .pageLoader {
    position: fixed;
    left: calc(50% - 20px);
    top: 35%;
  }
}
body {
  margin: 0;
}

body.loading * {
  cursor: wait !important;
}
