div {
  font-family: "Open Sans", sans-serif, Arial;
  text-align: center;
}

.advent-announce {
  background-color: #3A5FA6;
  height: 56px;
  left: 0;
  top: 0;
  padding: 0;
  text-align: center;
  position: relative;
  width: 100%;
  z-index: 1001;
}

.advent-announce a {
  display: block;
  text-decoration: none;
  width: auto;
  animation-duration: 0.5s;
  position: absolute;
  width: 100%;
}

.advent-announce-text {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  text-decoration: none !important;
  line-height: 20px;
  padding: 8px 0px;
  width: 754px;
  z-index: 0;
}

.advent-announce-text:after {
  background-image: url(./images/desktop_right_docs_7_1.svg);
  background-position-y: -14px;
  right: -132px;
  width: 136px;
}

.advent-announce-text:before {
  background-image: url(./images/desktop_left_docs_7_1.svg);
  background-position-y: 12px;
  left: -96px;
  width: 81px;
}

.advent-announce-text:before,
.advent-announce-text:after {
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 56px;
  top: 0px;
  position: absolute;
  z-index: -1;
}

.advent-announce-text b {
  font-weight: 700;
}

.advent-announce-text span {
  color: #FFB979;
}

.advent-announce.ru .advent-announce-text {
  width: 828px;
}

.advent-desktop-hide {
  display: none;
}

@media screen and (max-width: 1023px) {
  .advent-announce {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #3A5FA6;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 48px;
  }

  .advent-announce-text {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    letter-spacing: 0.01em;
    line-height: 16px;
    padding: 16px 0px;
    white-space: normal;
    width: auto !important;
  }

  .advent-announce-text:after {
    background-image: url(./images/mob_right_docs_7_1.svg);
    background-position-y: -12px;
    right: -58px;
    width: 54px;
  }

  .advent-announce-text:before {
    background-image: url(./images/mob_left_docs_7_1.svg);
    background-position-y: 0;
    height: 28px;
    left: -64px;
    top: 9px;
    width: 51px;
  }

  .advent-mobile-hide {
    display: none;
  }
}