
  .container {
    width: 300px;
    height: 200px;
    overflow: scroll;
    position: relative;
  }
  .container::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  .container::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
  }

  .container::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
  }

  .container::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
  }