.snackbar-container {
  transition: all 500ms ease;
  transition-property: top, right, bottom, left, opacity;
  font-family: Open Sans, sans-serif, Arial;
  font-size: 12px;
  min-height: 14px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  line-height: 16px;
  padding: 12px;
  bottom: -100px;
  top: -100px;
  opacity: 0;
  z-index: 9999;
}

.snackbar-container.inline {
  position: relative;
  z-index: initial;
  top: initial;
  bottom: initial;
  margin: 16px 24px 0 0;
  max-width: initial;
  justify-content: initial;
}

.snackbar-container.inline button:last-child {
  margin-left: auto;
  padding-left: 8px;
}

.snackbar-container .action {
  background: inherit;
  display: inline-block;
  border: none;
  font-size: inherit;
  color: #4caf50;
  margin: 0 0 0 24px;
  padding: 0;
  min-width: min-content;
  cursor: pointer;
}

.logo {
  padding-right: 10px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (min-width: 640px) {
  .snackbar-container {
    min-width: 400px;
    max-width: 568px;
    display: inline-flex;
    border-radius: 6px;
    margin: 24px;
  }
}

@media (max-width: 640px) {
  .snackbar-container {
    left: 0;
    right: 0;
    width: 100%;
  }
}

@media (max-width: 769px) {
  .snackbar-container.inline {
    margin: 16px 0px 0 0;
  }
}

.snackbar-pos.bottom-center {
  top: auto !important;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.snackbar-pos.bottom-left {
  top: auto !important;
  bottom: 0;
  left: 0;
}

.snackbar-pos.bottom-right {
  top: auto !important;
  bottom: 0;
  right: 0;
}

.snackbar-pos.top-left {
  bottom: auto !important;
  top: 0;
  left: 0;
}

.snackbar-pos.top-center {
  bottom: auto !important;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.snackbar-pos.top-right {
  bottom: auto !important;
  top: 0;
  right: 0;
}

@media (max-width: 640px) {
  .snackbar-pos.bottom-center,
  .snackbar-pos.top-center {
    left: 0;
    transform: none;
  }
}
