// Override default variables before the import
$font-family-base: 'Open Sans', sans-serif;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import '~react-toastify/dist/ReactToastify.min.css';

html, body {
    height: 100%;
}

#root {
    min-height: 100%;
    position: relative;

    .pageLoader {
        position: fixed;
        left: calc(50% - 32px);
        top: 35%;
    }
}