// Override default variables before the import
$font-family-base: 'Open Sans', sans-serif;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

html, body {
    height: 100%;
}

#root {
    min-height: 100%;
    position: relative;

    main {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .pageLoader {
            position: fixed;
            left: calc(50% - 32px);
            top: 35%;
        }
    }
}