name: 4testing multiarch-build

on:
  push:
    branches: [ "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [linux/amd64]
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - 
        name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - 
        name: Build 4testing
        run: |
          cd ./build/install/docker
          REPO="onlyoffice" \
          DOCKER_IMAGE_PREFIX="4testing-docspace" \
          DOCKER_TAG="rc-v1.2.0" \
          DOCKERFILE="Dockerfile.app" \
          docker buildx bake -f build.yml \
          --set *.args.GIT_BRANCH="develop" \
          --set *.platform=linux/amd64 \
          --push
        shell: bash
